{% extends 'app/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Sign in</h2>
    </div>
  </div>

        <form accept-charset="utf-8" method="post">
            {% csrf_token %}
            {% include 'includes/form.html' with form=form %}
            <div class="row">
                <div class="col-md-8 mx-auto">
                  <input class="btn btn-primary" type="submit" value="Sign-in" />
                </div>
              </div>
        </form>

{% endblock %}