{% extends 'app/base.html' %} 
{% block extrahead %} 
{{form.media}} 
{% endblock extrahead %} 
{% block content %}
<div class="row">
  <div class="col-md-12">
    {% if action == "create"%}
    <h2 class="text-center">Submit new image</h2>
    {% else %}
    <h2 class="text-center">Edit image</h2>
    {% endif %}
  </div>
</div>
<form accept-charset="utf-8" method="post">
  {% csrf_token %} {% include 'includes/form.html' with form=form %}
  <div class="row">
    <div class="col-md-8 mx-auto">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </div>
</form>
{% endblock %}
