{% extends 'app/base.html' %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="date">{{ image.pub_date }} Published by: <a href="{%url 'app:account' image.user.id%}">{{image.user.username}}</a></div>
      {% if request.user.is_authenticated %}
      {%include "includes/vote_buttons.html" with image=image vote=vote%}
      {% else %}
      Score: {{image.vote_score}}
      {% endif %}
      <h2>{{ image.title }}</h2>
      <img class="app-fit" src="{{image.url}}" alt="" />
    </div>
    <div class="col-md-6">
      <h3>Description</h3>
      <p>{{ image.description|linebreaksbr }}</p>
      <h3>Comments</h3>
      {% for comment,like in comments_with_likes %}
      <div class="border comment">
        <p class="red">Author: <a href="{%url 'app:account' comment.user.id%}">{{ comment.author }}</a> ({{comment.created_at}})</p>
        <p class="secondary">{{ comment.text }}</p>

        {% if comment.approved == False %}
        {%if request.user.is_superuser%}
        {% include 'includes/delete_comment_link.html' with comment=comment %}
        {%endif%}
          <form 
            action = "{%url 'app:approve_comment' comment.id%}"
            method="post">
            {%csrf_token%}
            <input type="submit" value="Approve" class="btn btn-success"/>
          </form>
        {%endif%}
      

        {%if comment.approved == True and request.user.is_authenticated%}
        {% if request.user.is_superuser or comment.user == request.user%}
        {% include 'includes/delete_comment_link.html' with comment=comment %}
        {%endif%}
        {% include "includes/like_button.html" with comment=comment like=like%}
        {%else%}
        Likes: {{comment.total_likes}}
        {%endif%}

      </div>
      {% endfor %}
      {% if request.user.is_authenticated %}
      <h2>Post a comment</h2>
      {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
      {% endif %}

      <form
        action="{% url 'app:comment' image.id %}"
        method="post"
        class="border"
      >
        {% csrf_token %} {%include "includes/form.html" with form=form%}
        <input
          type="submit"
          value="Post Comment"
          class="btn btn-lg btn-primary btn-block"
        />
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
