{% extends 'app/base.html' %} 
{% block content %}
{% if request.user.is_authenticated %}
<div class="row">
  <div class="col-md-10">
    <p><a href="{% url 'app:create_image' %}">Submit new image.</a></p>
  </div>
</div>
{% endif %}
{% for image,vote in images_with_votes %}
<div class="row">
  <div class="col-md-2">
    <img class="app-fit" src="{{image.url}}" alt="" />
  </div>
  <div class="col-md-10">
    <div class="date">
      <p class="red">
        Published by: <a href="{% url 'app:account' image.user.id%}">{{image.user.username}}</a>, {{ image.pub_date }};
        {%if request.user.is_authenticated and request.user.is_superuser or image.user == request.user%}
        <a href="{% url 'app:update_image' image.id %}">Edit</a> | 
        {% include 'includes/delete_image_link.html' with image=image %}
        {%endif%}
      </p>  
    </div>
    {% if request.user.is_authenticated %}
    {%include "includes/vote_buttons.html" with image=image vote=vote%}
    {%else%}
    Score: {{image.vote_score}}
    {% endif %}
    <h2><a href="{% url 'app:detail' image.id %}">{{ image.title }}</a></h2>
    <p>{{ image.description|linebreaksbr }}</p>
  </div>
</div>
{% endfor %} {% endblock %}
